$root-em: 14px;
$left: $root-em;
$li-width: 300px;
$large-indent: 50px;

html, body {
    font-size: $root-em;
}

textarea {
    height: 3em;
}

//#alighformo {
#form-tabs {
	.form-nav {
		padding: 0.5em;
		margin: 0.5em;
	}
  .tab {
    .helptext {
		display: inline-block;
		width: 400px;
		color: #707070;
		font-size: 90%;
	}
    .fieldset-label {
		font-weight: bold;
		//margin-left: $root-em;
	}
    > ul, .fieldset > ul {
        list-style: none;
        margin: 0;
        padding: 0;
        .info { margin-left: $large-indent; }
        > li {
            white-space: nowrap;
            margin-top: 0.5em;
            margin-bottom: 0.5em;
            display: block;
            > * {
                white-space: normal;
                vertical-align: middle;
            }
            > label {
                display: inline-block;
                width: $li-width;
                margin-left: $left;
            }
            ul {
				white-space: nowrap;
                list-style: none;
                display: inline-block;
                margin: 0;
                padding: 0;
                li {
                    display: inline;
                    margin: 0 1em 0 0;
                }
            }
            .vertical-display {
				white-space: normal;
                display: inline-block;
                li {
                    display: block;
                }
                ul { display: block; }
            }
            ul.infolist {
                list-style: disc;
//margin-left: 0em;
li {margin-left: 0;}
li:before { content: " \25CF "; font-weight: bold; display: inline-block;
text-align: center; width: 2 *18px * $root-em / 18px; font-size: 18px; }
            }
        }
        label + * {
            display: inline-block; width: $li-width;
            //white-space: normal;
            //ul { white-space: inherit; }
        }
        label + input[type="checkbox"] { width: $root-em; }
    }
    .required > label {
        font-weight: bold;
        margin-left: 0;
        width: $li-width + $left;
        &:before {
            content: "* ";
            color: red;
            font-weight: bold;
            display: inline-block;
            width: $left;
        }
    }
    .error {
        border: 1px solid black;
    }
    .required-stilo {
        font-weight: bold;
        color: red;
    }
    ul.errorlist {
        list-style: none;
        display: block;
        margin-left: $large-indent;
        li {
            display: inline-block;
            font-weight: bold;
            color: red;
        }
    }
  }
}
