/* http://meyerweb.com/eric/tools/css/reset/
   v2.0 | 20110126
   License: none (public domain)
*/
html, body, div, span, applet, object, iframe,
h1, h2, h3, h4, h5, h6, p, blockquote, pre,
a, abbr, acronym, address, big, cite, code,
del, dfn, em, img, ins, kbd, q, s, samp,
small, strike, strong, sub, sup, tt, var,
b, u, i, center,
dl, dt, dd, ol, ul, li,
fieldset, form, label, legend,
table, caption, tbody, tfoot, thead, tr, th, td,
article, aside, canvas, details, embed,
figure, figcaption, footer, header, hgroup,
menu, nav, output, ruby, section, summary,
time, mark, audio, video {
  margin: 0;
  padding: 0;
  border: 0;
  font-size: 100%;
  font: inherit;
  vertical-align: baseline;
  color: black;
}

article, aside, details, figcaption, figure,
footer, header, hgroup, menu, nav, section {
  display: block;
}

body {
  line-height: 1;
}

ol, ul {
  list-style: none;
}

blockquote, q {
  quotes: none;
}

blockquote:before, blockquote:after,
q:before, q:after {
  content: '';
  content: none;
}

table {
  border-collapse: collapse;
  border-spacing: 0;
}

/* end css reset */
html, body {
  font: 14px "Lucida Grande", "Lucida Sans", Arial, sans-serif;
}

h1 {
  display: block;
  font-size: 200%;
  margin: 0;
  padding: 0;
  font-weight: bold;
}

h2 {
  display: block;
  font-size: 175%;
  font-weight: bold;
}

h3 {
  display: block;
  font-size: 150%;
  font-weight: bold;
}

h4 {
  display: block;
  font-size: 133%;
  font-weight: bold;
}

h5 {
  display: block;
  font-size: 125%;
  font-weight: bold;
}

h6 {
  display: block;
  font-size: 115%;
  font-weight: bold;
}

b, strong {
  font-weight: bold;
}

i, em {
  font-style: italic;
}

table, caption, tbody, tfoot, thead, tr, th, td {
  vertical-align: inherit;
}

.main-heading {
  text-shadow: 1px 1px 1px #777777;
}

#heading {
  -moz-box-shadow: 0 0 2px 3px #cccccc;
  -webkit-box-shadow: 0 0 2px 3px #cccccc;
  box-shadow: 0 0 2px 3px #cccccc;
  margin: 15px auto;
  position: relative;
  width: 926px;
  height: 100px;
  vertical-align: middle;
  background: #2a3753;
  border-radius: 10px;
}
#heading #lingvoj {
  position: absolute;
  right: 14px;
  top: 17.8px;
}
#heading #lingvoj a {
  display: block;
  font-weight: bold;
  text-decoration: none;
  text-shadow: 1px 1px 1px #777777;
  color: #ccc;
  font-family: tahoma;
  font-size: 115%;
}
#heading #ijk-logo {
  position: relative;
  top: -15px;
}
#heading #ijk-heading {
  position: absolute;
  left: 135px;
  text-transform: lowercase;
}
#heading #ijk-heading a {
  color: white;
  font-weight: bold;
  font-size: 35px;
  line-height: 100px;
  text-decoration: none;
  text-shadow: 1px 1px 1px #777777;
}
#heading .menuo {
  color: white;
  padding: 0;
  margin: 0;
  position: absolute;
  top: 66px;
  width: 100%;
  font-size: 21px;
  line-height: 21px;
  /* no margins, or it becomes hard to select subitems, because
   * the submenus disappear when you move into the margins */
}
#heading .menuo a {
  text-shadow: 1px 1px 1px #777777;
  font-weight: bold;
}
#heading .menuo li {
  /* All menu items: */
  display: inline-block;
  position: relative;
  padding: 7px;
  margin: 0;
  border-width: 1px;
}
#heading .menuo li li {
  height: auto;
  width: 150px;
}
#heading .menuo > ul > li {
  width: auto;
  height: 20px;
  float: left;
  /* root-level menu items, display them in a line */
}
#heading .menuo > ul > li > ul {
  top: 100%;
  margin-top: 0px;
  left: 0;
  margin-left: -1px;
  /* compensate for the cell padding and height
   * this is the first submenu, which we're putting
   * directly under the root level element
   * the parent li was floated, so the calculation is different
   * than for deeper nested items */
}
#heading .menuo ul {
  /* all menus and submenus of any level of nesting */
  list-style: none;
  /* no bullets */
  padding-left: 0;
  /* this keeps the submenus lined up correctly */
}
#heading .menuo ul ul {
  /* all submenus, at least 1 level deep */
  display: none;
  /* hide submenus */
  position: absolute;
  /* keep the submenus from rearranging
   * the positioning of the whole menu */
  z-index: 10000;
  /* keep the submenus from being covered
   * by the rest of the menu */
}
#heading .menuo ul ul ul {
  /* all sub-submenus (3rd level or greater)
   * the 1st level is floated in a line,
   * the 2nd level goes directly under its parent
   * from the 3rd level here and deeper,
   * we put it to the right of its parent */
  left: 100%;
  margin-left: 0px;
  /* put 3rd level submenu to the right of its parent */
  top: -1px;
  /* put 3rd level submenu at the same height as its parent */
}
#heading .menuo ul li:hover > ul {
  display: block;
  /* show the submenu when we hover over its parent */
}
#heading .menuo > ul {
  position: relative;
  left: 10px;
}
#heading .menuo > ul > li {
  border-radius: 10px 10px 0 0;
}
#heading .menuo > ul > li > ul > li, #heading .menuo > ul > li > ul > li li {
  border-radius: 0;
  border-left: 1px solid black;
  border-right: 1px solid black;
}
#heading .menuo > ul > li > ul > li:first-child, #heading .menuo > ul > li > ul > li li:first-child {
  border-radius: 0 10px 0 0;
  border-top: 1px solid black;
  border-right: 1px solid black;
  border-left: 1px solid black;
}
#heading .menuo > ul > li > ul > li:last-child, #heading .menuo > ul > li > ul > li li:last-child {
  border-radius: 0 0 10px 10px;
  border-bottom: 1px solid black;
  border-right: 1px solid black;
  border-left: 1px solid black;
}
#heading .menuo > ul > li > ul > li:first-child:last-child, #heading .menuo > ul > li > ul > li li:first-child:last-child {
  border-radius: 0 10px 10px 10px;
  border-border: 1px solid black;
}
#heading .menuo > ul > li > ul > li li, #heading .menuo > ul > li > ul > li li li {
  position: relative;
  left: -11px;
}
#heading .menuo li {
  text-transform: lowercase;
}
#heading .menuo li li {
  background-color: white;
}
#heading .menuo li a {
  color: white;
  margin: 0;
  padding: 0;
  text-decoration: none;
}
#heading .menuo li:hover {
  background-color: white;
}
#heading .menuo li:hover a {
  color: #2a3753;
}
#heading .menuo li:hover a:hover {
  color: #faa700;
}

.fakturo .kotizo-signo {
  margin: 0 0.5em;
}
.fakturo .label {
  margin-right: 0.5em;
}

div, p, #form-tabs {
  margin: 1em 0;
  display: block;
}

#form-tabs {
  -moz-box-shadow: 0 0 2px 3px #cccccc;
  -webkit-box-shadow: 0 0 2px 3px #cccccc;
  box-shadow: 0 0 2px 3px #cccccc;
  width: 917.6px;
}
#form-tabs .tab a {
  text-shadow: 1px 1px 1px #777777;
}

.ui-button, .ui-button-text {
  text-shadow: 1px 1px 1px #777777;
}

#alighi-btn {
  margin: 1em 0.5em;
  display: inline-block;
}

strong {
  font-weight: bold;
}

textarea {
  height: 3em;
}

/*
.error {
    border: 1px dotted red;
}
*/
.style-of-required {
  color: #cd0a0a;
  font-weight: bold;
}

.errorlist {
  list-style: none;
  display: block;
  margin-left: 50px;
}
.errorlist li {
  display: inline-block;
  font-weight: bold;
  color: #cd0a0a;
}

.button-error {
  display: inline-block;
  font-weight: bold;
  color: #cd0a0a;
}

.form-nav {
  padding: 0.5em;
  margin: 0.5em;
}

.fieldset-label {
  font-weight: bold;
  margin-left: 14px;
}

#enhavo {
  width: 926px;
  margin: auto;
}

.klarigo {
  white-space: nowrap;
}

.tab {
  margin: 0;
  padding: 0;
}
.tab .info {
  margin-left: 50px;
}
.tab ul {
  margin-left: 0;
  padding-left: 0;
}
.tab > ul {
  margin: 0;
  padding: 0;
}
.tab > ul > li > label {
  width: 300px;
  margin-left: 14px;
}
.tab > ul .required > label {
  font-weight: bold;
  margin-left: 0;
  width: 314px;
}
.tab > ul .required > label:before {
  content: "* ";
  color: #cd0a0a;
  font-weight: bold;
  display: inline-block;
  width: 14px;
}
.tab .fieldset > ul {
  margin-left: 28px;
}
.tab .fieldset > ul > li > label {
  width: 286px;
  white-space: normal;
}
.tab > ul, .tab .fieldset > ul {
  list-style: none;
}
.tab > ul label + input[type="checkbox"], .tab .fieldset > ul label + input[type="checkbox"] {
  width: 14px;
}
.tab > ul label + ul, .tab .fieldset > ul label + ul {
  white-space: nowrap;
}
.tab > ul .infolist, .tab .fieldset > ul .infolist {
  white-space: normal;
}
.tab > ul > li, .tab .fieldset > ul > li {
  margin-top: 0.5em;
  margin-bottom: 0.5em;
  display: block;
}
.tab > ul > li > *, .tab .fieldset > ul > li > * {
  vertical-align: middle;
}
.tab > ul > li > label, .tab .fieldset > ul > li > label {
  display: inline-block;
}
.tab label + ul,
.tab label + input[type="text"],
.tab label + select,
.tab label + .vertical-display {
  display: inline-block;
  width: 200px;
}
.tab label + * {
  display: inline-block;
}
.tab label + ul {
  list-style: none;
  display: inline-block;
  margin: 0;
  padding: 0;
}
.tab label + ul li {
  display: inline;
  margin: 0 1em 0 0;
}
.tab .vertical-display li {
  display: block;
  margin: 0 0 0 1em;
  text-indent: -1em;
}
.tab .vertical-display ul {
  display: block;
}
.tab .vertical-display input[type="text"] {
  display: block;
  width: 150px;
  margin: auto 0;
}
.tab .helptext, .tab .helptext-below {
  display: inline-block;
  width: 300px;
  color: #707070;
  font-size: 90%;
  margin: 0 1em;
  padding: 0;
}
.tab .helptext li, .tab .helptext-below li {
  margin-left: 14px;
}
.tab .helptext a, .tab .helptext-below a {
  color: #002bb8;
  text-decoration: none;
  background: none;
}
.tab .helptext a:hover, .tab .helptext-below a:hover {
  text-decoration: underline;
}
.tab .helptext a:visited, .tab .helptext-below a:visited {
  color: #5A3696;
}
.tab .helptext a:active, .tab .helptext-below a:active {
  color: #faa700;
}
.tab .helptext-below {
  width: auto;
  display: block;
  margin: 0 0 0.5em 319.6px;
}
.tab .helptext-below p {
  margin: 0.5em 0;
}

.fakturo {
  white-space: nowrap;
  border: 5px ridge #2a3753;
  -moz-box-shadow: 0 0 2px 3px #cccccc;
  -webkit-box-shadow: 0 0 2px 3px #cccccc;
  box-shadow: 0 0 2px 3px #cccccc;
  display: inline-block;
  padding: 0.5em;
}
.fakturo .label {
  font-weight: bold;
}
.fakturo ul {
  display: inline-block;
  list-style: none;
}
.fakturo ul * {
  vertical-align: middle;
  text-align: center;
}
.fakturo ul .programo-signo {
  display: none;
}
.fakturo ul li {
  display: inline-block;
}
.fakturo ul li div {
  display: inline-block;
}
.fakturo ul li .kotizo-ero div {
  display: block;
  margin: 0;
  padding: 0;
}
.fakturo ul li .kotizo-klarigo {
  border-top: 1px solid black;
  font-size: 85%;
}
.fakturo ul li .sumo-klarigo {
  border-top: 3px double black;
}
