$root-em: 14px;
$left: $root-em;
$hanging-indent: 50px;
$label-width: 300px;
$widget-width: 200px;
$helptext-width: 300px;
$content-width: $label-width + $widget-width + $helptext-width + 9 * $root-em;
$style-color: #2a3753; // #0b3e6f; //#A6C9E2;
$heading-height: 100px;
$base-color: #000000;
$header-color: #ffffff;
$border-radius: 10px;
$active-color: #faa700;
$link-color: #002BB8;
$top-space: 15px;
$alert-color: #cd0a0a;

@mixin style-of-required {
    color: $alert-color;
    font-weight: bold;
}

@mixin error-style {
    font-weight: bold;
    color: $alert-color;
}

$shadow-color: #ccc;
$shadow-blur: 2px;
$shadow-spread: 3px;
$shadow-def: 0 0 $shadow-blur $shadow-spread $shadow-color;
@mixin shadow {
  -moz-box-shadow:    $shadow-def;
  -webkit-box-shadow: $shadow-def;
  box-shadow:         $shadow-def;
}
$text-shadow-def: 1px 1px 1px #777;

/*! http://meyerweb.com/eric/tools/css/reset/
   v2.0 | 20110126
   License: none (public domain)
*/

html, body, div, span, applet, object, iframe,
h1, h2, h3, h4, h5, h6, p, blockquote, pre,
a, abbr, acronym, address, big, cite, code,
del, dfn, em, img, ins, kbd, q, s, samp,
small, strike, strong, sub, sup, tt, var,
b, u, i, center,
dl, dt, dd, ol, ul, li,
fieldset, form, label, legend,
table, caption, tbody, tfoot, thead, tr, th, td,
article, aside, canvas, details, embed,
figure, figcaption, footer, header, hgroup,
menu, nav, output, ruby, section, summary,
time, mark, audio, video {
    margin: 0;
    padding: 0;
    border: 0;
    font-size: 100%;
    font: inherit;
    vertical-align: baseline;
    color: $base-color;
}
// HTML5 display-role reset for older browsers
article, aside, details, figcaption, figure,
footer, header, hgroup, menu, nav, section {
    display: block;
}
body {
    line-height: 1;
}
ol, ul {
    list-style: none;
}
blockquote, q {
    quotes: none;
}
blockquote:before, blockquote:after,
q:before, q:after {
    content: '';
    content: none;
}
table {
    border-collapse: collapse;
    border-spacing: 0;
}

/* end css reset */

html, body {
    font: $root-em "Lucida Grande","Lucida Sans",Arial,sans-serif;
}

h1 {
    display: block;
    font-size: 200%;
    margin: 0; // 1em 0.5em;
    padding: 0;
    font-weight: bold;
}

h2 {
    display: block;
    font-size: 175%;
    font-weight: bold;
}

h3 {
    display: block;
    font-size: 150%;
    font-weight: bold;
}

h4 {
    display: block;
    font-size: 133%;
    font-weight: bold;
}

h5 {
    display: block;
    font-size: 125%;
    font-weight: bold;
}

h6 {
    display: block;
    font-size: 115%;
    font-weight: bold;
}

b, strong {
    font-weight: bold;
}

i, em {
    font-style: italic;
}

table, caption, tbody, tfoot, thead, tr, th, td {
    vertical-align: inherit;
}

.main-heading {
    text-shadow: $text-shadow-def;
    // margin: 0; // $root-em;
}

@import 'menu';

$menu-bg-color: white;
$menu-border-size: 1px;
$menu-border: $menu-border-size solid black;
$menu-hover-color: #ccc;

// heading
#heading {
    @include shadow;
    margin: $top-space auto;
    position: relative;
    width: $content-width;
    height: $heading-height;
    vertical-align: middle;
    background: $style-color;
    border-radius: $border-radius;
    #lingvoj {
        position: absolute;
        right: $root-em;
        top: $heading-height / 2 - $root-em * 2.3;
        a {
            display: block;
            // color: $header-color;
            font-weight: bold;
            // font-size: 1.5 * $root-em;
            text-decoration: none;
            text-shadow: $text-shadow-def;
            color: #ccc;
            font-family: tahoma;
            font-size: 115%;
        }
    }
    #tejo-logo {
        position: relative;
        top: -$top-space;
    }
    #ijk-heading {
        a {
            color: $header-color;
            font-weight: bold;
            font-size: $root-em * 2.5;
            line-height: $heading-height;
            text-decoration: none;
            text-shadow: $text-shadow-def;
        }
        position: absolute;
        left: 135px;
        text-transform: lowercase;
    }
    .menuo {
        a {
            text-shadow: $text-shadow-def;
            font-weight: bold;
        }
        color: $header-color;
        padding: 0; margin: 0;
        position: absolute;
        top: $heading-height - 2.5 * $root-em + 1px; // / 0.8;
        width: 100%;
        font-size: 1.5 * $root-em;
        line-height: 1.5 * $root-em;
        @include dropdown(
            $cellpad: $root-em/2,
            // $cellheight: 1.5 * $root-em / 0.8,
            $cellborder: $menu-border-size
        );
        > ul {
            position: relative;
            left: $border-radius;
            > li {
                border-radius: $border-radius $border-radius 0 0;
                > ul > li {
                    border-radius: 0;
                    border: {
                        left: $menu-border;
                        right: $menu-border;
                    }
                    &:first-child {
                        border-radius: 0 $border-radius 0 0;
                        border: {
                            top: $menu-border;
                            right: $menu-border;
                            left: $menu-border;
                        }
                    }
                    &:last-child {
                        border-radius: 0 0 $border-radius $border-radius;
                        border: {
                            bottom: $menu-border;
                            right: $menu-border;
                            left: $menu-border;
                        }
                    }
                    &:first-child:last-child {
                        border-radius: 0 $border-radius $border-radius $border-radius;
                        border: {
                            border: $menu-border;
                        }
                    }
                    li {
                        position: relative;
                        left: -$border-radius - 1px;
                        border-radius: 0 $border-radius $border-radius 0;
                        border: {
                            top: $menu-border;
                            right: $menu-border;
                            bottom: $menu-border;
                        }
                    }
                }
            }
        }
        li {
            li {
                background-color: $menu-bg-color;
                // @include shadow;
            }
            text-transform: lowercase;
            a {
                color: $header-color;
                margin: 0; padding: 0;
                text-decoration: none;
                // color: inherit;
            }
            &:hover {
                background-color: $menu-bg-color;
                a {
                    color: $style-color;  // - #888; }
                    &:hover {
                        color: $active-color;
                    }
                }
            }
        }
    }
}

#korpo {
    a[href], a[href] i, a[href] em {
        color: #050;
    }
    a[target] {
        text-decoration: none;
        border-bottom: solid 1px #050;
        padding-bottom: 1px;
    }
    a[target]:after {
        content: "âº";
        color: #777;
        border-bottom: solid 1px #fff;
        padding-bottom: 1px;
    }
    i a[target]:after, em a[target]:after {
        margin-left: 2px;
    }
}

.fakturo {
    .kotizo-signo {
        margin: 0 0.5em;
    }
    .label {
        margin-right: 0.5em;
    }
}

div, p, #form-tabs {
    margin: 1em 0;
    display: block;
}

#form-tabs {
    @include shadow;
    width: $content-width - 0.6 * $root-em;
    .tab a {
        text-shadow: $text-shadow-def;
    }
}

.ui-button, .ui-button-text {
    text-shadow: $text-shadow-def;
}

#alighi-btn {
    margin: 1em 0.5em;
    display: inline-block;
}

strong {
    font-weight: bold;
}

textarea {
    height: 3em;
}

/*
.error {
    border: 1px dotted red;
}
*/

.style-of-required {
    @include style-of-required;
}

.errorlist {
    list-style: none;
    display: block;
    margin-left: $hanging-indent;
    li {
        display: inline-block;
        @include error-style;
    }
}

.button-error {
    display: inline-block;
    @include error-style;
}

.form-nav { // antauen/reen-butonoj
    padding: 0.5em;
    margin: 0.5em;
}

.fieldset-label {
    font-weight: bold;
    margin-left: $left;
}

#enhavo {
    width: $content-width;
    margin: auto;
}

.klarigo {
    white-space: nowrap;
}

.tab {
    margin: 0;
    padding: 0;
    .info { margin-left: $hanging-indent; }
    ul {
        margin-left: 0;
        padding-left: 0;
    }
    > ul {
        margin: 0;
        padding: 0;
        > li {
            > label {
                width: $label-width;
                margin-left: $left; // XXX to be overriden if this is .required
            }
        }
        .required > label {
            font-weight: bold;
            margin-left: 0;
            width: $label-width + $left;
            &:before {
                content: "* ";
                @include style-of-required;
                display: inline-block;
                width: $left;
            }
        }
    }
    .fieldset > ul {
        > li > label {
            width: $label-width - $left;
            white-space: normal;
        }
        margin-left: 2 * $left;
    }
    > ul, .fieldset > ul {
        list-style: none;
        label + input[type="checkbox"] {
            width: $root-em;
        }
        label + ul {
            white-space: nowrap;
        }
        .infolist {
            white-space: normal;
        }
        > li { // this <li> is an individual item of the form
            margin-top: 0.5em;
            margin-bottom: 0.5em;
            display: block;
            // padding: 0.25em;
            > * {
                vertical-align: middle;
            }
            > label {
                display: inline-block;
            }
        }
    }

    label + ul,
    label + input[type="text"],
    label + select,
    label + .vertical-display {
        display: inline-block;
        width: $widget-width;
    }
    label + * { // XXX there *can* be labels elsewhere, within multi-widgets
        display: inline-block;
    }
    label + ul { // for widgets that use a list for display
        list-style: none;
        display: inline-block;
        margin: 0;
        padding: 0;
        li {
            display: inline;
            margin: 0 1em 0 0; // this is if it's all in a line
        }
    }
    .vertical-display {
        li {
            display: block;
            margin: 0 0 0 1em;
            text-indent: -1em;
        }
        ul {
            display: block;
        }
        input[type="text"] {
            display: block;
            width: $widget-width - $hanging-indent;
            margin: auto 0; // 1em;
        }
    }
    .helptext { // tria kolono en la formularo, kun klarigaj rimarkigoj
        display: inline-block;
        width: $helptext-width;
        color: #707070;
        font-size: 90%;
        margin: 0 1em;
        padding: 0;
        li {
            margin-left: $left;
        }
        a {
            color: $link-color;
            text-decoration: none;
            background: none;
            &:hover { text-decoration: underline; }
            &:visited { color: #5A3696; }
            &:active { color: $active-color; }
        }
    }
    .helptext-below {
        @extend .helptext;
        //width: 450px;
        width: auto;
        display: block;
        margin: 0 0 0.5em $label-width + 1.4 * $left;
        p {
            margin: 0.5em 0;
        }
    }
}

// Area to display the calculated kotizo
.fakturo {
    white-space: nowrap;
    border: 5px ridge $style-color; // #ddd;
    @include shadow;
    display: inline-block;
    padding: 0.5em;
    .label { font-weight: bold; }
    ul {
        display: inline-block;
        list-style: none;
        * {
            vertical-align: middle;
            text-align: center;
        }
        .programo-signo { display: none; }
        li {
            display: inline-block;
            div {
                display: inline-block;
            }
            .kotizo-ero div {
                display: block;
                margin: 0;
                padding: 0;
            }
            .kotizo-klarigo {
                border-top: 1px solid black;
                font-size: 85%;
            }
            .sumo-klarigo {
                border-top: 3px double black;
            }
        }
    }
}

