<!DOCTYPE html>
<html>
<head>
<meta charset="utf-8">
<title>Aliĝi al IJK 2013 en Afikim, Israelo</title>
<link rel="stylesheet" type="text/css" href="http://ajax.googleapis.com/ajax/libs/jqueryui/1.9.2/themes/redmond/jquery-ui.css">
<link rel="stylesheet" type="text/css" href="{{ STATIC_URL }}css/style.css">
<script src="//ajax.googleapis.com/ajax/libs/jquery/1.8.3/jquery.min.js"></script>
<script src="//ajax.googleapis.com/ajax/libs/jqueryui/1.9.2/jquery-ui.min.js"></script>
<script type="text/javascript">
{% autoescape off %}{{ JAVASCRIPT }}{% endautoescape %}
</script>
<script src="{{ STATIC_URL }}js/alighi.js" type="text/javascript"></script>
</head>
<body>
<div id="enhavo">
<h1>Aliĝi al IJK 2013 en Afikim, Israelo</h1>
<div id="informoj">Kotizo: </div>
<form id="alighformo" method="post" action="{% url alighi %}">
{% csrf_token %}
<p>
    La kampoj markitaj per steleto (<span class="style-of-required">*</span>)
    estas plenigendaj.
</p>
<div id="form-tabs">
{{ tabs }}
<div class="form-nav">
    <a class="reen" href=""> Reen </a><a class="antauen" href=""> Antaŭen </a>
</div>
{% for div in formdivs %}
<div class="tab" id="tab-{{ forloop.counter0 }}">
<ul>
    {% for form in div %}{{ form.as_ul }}{% endfor %}
</ul>
</div>
{% endfor %}
<div class="form-nav">
    <a class="reen" href=""> Reen </a><a class="antauen" href=""> Antaŭen </a>
</div>
</div> <!-- #form-tabs -->
<p><strong>Grave</strong>: La kotizoj enhavas nenian asekuron.</p>
<input id="alighi-btn" type="submit" value="Mi aliĝas al IJK!">
</form>
</div> <!-- .content -->
</body>
</html>
