{% extends 'base.html' %}

{% block title %}Aliĝi{% endblock %}

{% block heading %}Aliĝi al IJK{% endblock %}

{% block content %}
<form id="alighformo" method="post" action="{% url alighi %}">
<input type="hidden" name="js-active" id="js-active" value="0" />
<div class="fakturo-placeholder"></div>
{% csrf_token %}
<p>
    La kampoj markitaj per steleto (<span class="style-of-required">*</span>)
    estas plenigendaj.
</p>
<div id="form-tabs">
{{ tabs }}
<div class="form-nav">
    <a class="reen" href=""> Reen </a><a class="antauen" href=""> Antaŭen </a>
</div>
{% for div in formdivs %}
<div class="tab" id="tab-{{ forloop.counter0 }}">
<ul>
    {% for form in div %}{{ form.as_ul }}{% endfor %}
</ul>
</div>
{% endfor %}
<div class="form-nav">
    <a class="reen" href=""> Reen </a><a class="antauen" href=""> Antaŭen </a>
</div>
</div> <!-- #form-tabs -->
<div class="fakturo-placeholder"></div>
<p><strong>Grave</strong>: La kotizoj enhavas nenian asekuron.</p>
<input id="alighi-btn" type="submit" value="Mi aliĝas al IJK!" class="alighi">
{% if has_errors %}
    <div class="button-error">Estas eraroj en la formularo.
        Bonvolu rekontroli!</div>
{% endif %}
</form>
{% endblock %}
