{% extends 'base.html' %}

{% block title %}Gratulon pro via aliĝo al IJK{% endblock %}
{% block heading %}{% endblock %}
{% block content %}
<div style="width:32em; text-align:right">
<h1 style="font-size:300%; color:#2E6E9E; margin-bottom:10px">
    Vi estas magniva<span style="color:black">*</span>!</h1>
<div style="font-size: 70%; margin-right: 2px">* "mojosa" en israela slango</div>
</div>

<div>
Via aliĝo al 69-a IJK estis sukcese registrita.
Ne forgesu antaŭpagi (minimume 15&nbsp;€) por definitivigi ĝin.
<br><br>
<strong>Ĝis revido en la IJK!</strong>
</div>

<iframe scrolling="no" frameborder="0" allowtransparency="true" style="border:solid 1px #A6C9E2; border-radius:5px; overflow:hidden; width:402px; height:258px; margin-left:3.8em; margin-top:14px" src="//www.facebook.com/plugins/likebox.php?href=http%3A%2F%2Fwww.facebook.com%2Fpages%2FInternacia-Junulara-Kongreso-2013%2F361443420610312&amp;width=402&amp;height=258&amp;show_faces=true&amp;stream=false&amp;colorscheme=light&amp;border_color=%23fff&amp;header=false&amp;locale=eo_EO"></iframe>
<div style="margin-left:4.3em; font-size:90%; color:#707070">
    &#x2039; ŝatu nian paĝon, se vi ne jam faris! &#x203a;
    &#x2039; kontakto:
        <a style="color:#707070" href="mailto:ijk@tejo.org">ijk@tejo.org</a>
    &#x203a;
</div>
{% endblock %}
