<!DOCTYPE html>
<html lang="eo" dir="ltr">
<head>
<meta http-equiv="X-UA-Compatible" content="IE=edge">
<meta charset="utf-8">
<meta http-equiv="content-type" content="text/html; charset=utf-8">
<meta name="keywords" content="ijk,tejo,2013,israelo,nazareto,esperanto">
<meta name="description" content="Oficiala retejo de IJK 2013 en Nazareto, Israelo">
<title>
    IJK 2013 : {% block title %}IJK 2013 en Nazareto, Israelo{% endblock %}
</title>
<!-- link rel="stylesheet" type="text/css" href="//ajax.googleapis.com/ajax/libs/jqueryui/1.9.2/themes/dot-luv/jquery-ui.css" -->
<link rel="shortcut icon" href="{{ STATIC_URL }}favicon.ico" />
<link rel="stylesheet" type="text/css" href="{{ STATIC_URL }}css/ijk-theme/jquery-ui-1.10.1.custom.min.css">
<link rel="stylesheet" type="text/css" href="{{ STATIC_URL }}css/style.css?v=4">
<script src="//ajax.googleapis.com/ajax/libs/jquery/1.8.3/jquery.min.js"></script>
<script src="//ajax.googleapis.com/ajax/libs/jqueryui/1.10.1/jquery-ui.min.js"></script>
{{ GA }}
<script type="text/javascript">
{% autoescape off %}{{ JAVASCRIPT }}{% endautoescape %}
</script>
{% for script in scripts %}
<script src="{{ STATIC_URL }}{{ script }}" type="text/javascript"></script>
{% endfor %}
</head>
<body>
<div id="enhavo">
<div id="heading">
<img src="{{ STATIC_URL }}kamelo3.png" id="ijk-logo">
<span id="ijk-heading" title="IJK 2013 en Nazareto, Israelo">
    <a href="/">IJK 2013 en Nazareto, Israelo</a></span>
<div id="lingvoj" dir="rtl">
    <a href="/he/" title="hebree" lang="he">עברית</a>
    <a href="/ar/" title="arabe" lang="ar">العربية</a>
</div>
<div class="menuo">{{ MENUO }}</div>
</div>
<h1 class="main-heading">{% block heading %}
    Bonvenon al IJK 2013 en Nazareto, Israelo{% endblock %}</h1>

{% block content %}{% endblock %}
</div> <!-- .enhavo -->

</body>
</html>

